{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: sans-serif;

        }

        header {
            background-color: lightgreen;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .map-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        #map {
            width: 80%;
            height: 700px;
            border-radius: 0 10px 10px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>

    <header>
        Bienvenue sur Veliko 🚲
    </header>

    <div class="map-container">
        <div id="map"></div>
    </div>
    <script>
        let map = L.map('map').setView([48.8566, 2.3522], 16);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        try {
            map.locate({ setView: true, maxZoom: 16 });

            map.on('locationfound', (e) => {
                L.marker(e.latlng).addTo(map).bindPopup(`
                            <div>
                               <p><strong>Vous êtes là</strong></p>
                            </div>
                        `)
            });

            map.on('locationerror', (e) => {
                console.error('Erreur de géolocalisation :', e.message);
            });
        } catch (error) {
            console.error('Erreur lors de la tentative de géolocalisation :', error);
        }
    </script>

{% endblock %}
